{
  "configurations": {
    "Launch": {
      "adapter": "vscode-cpptools",
      "configuration": {
        "request": "launch",
        "program": "testrunner",
        "externalConsole": true
      }
    }
  }
}
